
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bads {
    padding: 3em;
}

.bad {
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 3em;
    border-top: 7px solid rgb(68, 127, 214);
    padding: 0 0 0.1em 2em;
}

.bad-id {
    font-family: Consolas, monospace;
    margin: 1em 0 0 0;
    opacity: 0.75;
}

.bad h2 {
    margin-top: 0.15em;
    margin-bottom: 0;
}

.bad .location {
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: 1em;
}

.bad table {
    text-align: left;
    width: 40%;
    margin-bottom: 2em;
}